body {
  background: #f8f9fa;
  max-width: 2560px;
  font-family: "Lato", sans-serif;
}
#logo {
  max-width: 150px;
  max-height: 150px;
}
.container {
  margin-top: 1em;
  border: 2px solid #212121;
  border-radius: 8px;
  padding: 0;
  background: #fff;
}
.container h1 {
  background: #008037;
  margin: 0 auto;
  padding: 0.5em;
  color: #ffe8dd;
  font-family: "Rowdies", cursive;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-shadow: 2px 4px #ff5400;
}
.container h2 {
  font-family: "Rowdies", cursive;
  color: #008037;
  margin: 0 auto;
  padding: 0.3em;
}
.container h3 {
  font-family: "Rowdies", cursive;
  color: #ff5400;
  margin: 0 auto;
  padding: 0.3em;
}
.container p {
  padding: 0.7em;
}
.container img {
  margin: 1em;
  border-radius: 8px;
  padding: 0.3em;
  max-width: 200px;
}
a {
  color: #ff5400;
}
a:hover {
  text-decoration: none;
  color: #212121;
}
#call-to-action {
  background: #008037;
  width: 100%;
  margin: 0 auto;
  padding: 0.5em;
  color: #fff;
  font-family: "Rowdies", cursive;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
#call-to-action a {
  color: #212121;
}
#call-to-action a:hover {
  text-decoration: none;
  color: #fff;
}
footer {
  margin: 4em;
  text-align: center;
}
