body {
  background: #f8f9fa;
  max-width: 2560px;
}
#logo {
  max-width: 200px;
  max-height: 200px;
}
.card {
  border: 2px solid gray;
  border-radius: 8px;
  text-align: center;
  box-shadow: 10px 5px 10px #ff5400;
  margin: 1em;
  padding: 1em;
}
.card h2 {
  font-family: "Rowdies", cursive;
}
footer {
  margin: 1em;
  text-align: center;
}
footer a {
  text-decoration: none;
  color: #ff5400;
}
footer a:hover {
  text-decoration: none;
  color: #008037;
}
