body {
  background: #f8f9fa;
  max-width: 2560px;
  font-family: "Lato", sans-serif;
}
#logo {
  max-width: 150px;
  max-height: 150px;
}
.carousel-inner {
  border-radius: 8px;
}
#carousel-img {
  max-height: 500px;
  border-radius: 8px;
}

.card {
  border: 2px solid gray;
  border-radius: 8px;
  text-align: center;
  box-shadow: 10px 5px 10px #ff5400;
  margin: 1em;
  padding: 1em;
}
.card h2 {
  font-family: "Rowdies", cursive;
  text-align: center;
}
#store-info {
  text-align: left;
}
footer {
  margin: 4em;
  text-align: center;
}
footer a {
  text-decoration: none;
  color: #ff5400;
}
footer a:hover {
  text-decoration: none;
  color: #008037;
}
