body {
  background: #f8f9fa;
  max-width: 2560px;
  font-family: "Lato", sans-serif;
}
#logo {
  max-width: 150px;
  max-height: 150px;
}
.search {
  max-width: 254px;
  transition: background 0.15s, box-shadow 0.15s;
}
.search:focus-within {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
.search-results-container {
  max-height: 250px;
  overflow-y: auto;

  visibility: hidden;
  opacity: 0;

  transition: visibility 0.1s, opacity 0.1s;
}
.search-results-container--visible {
  visibility: visible;
  opacity: 1;
}
.search-result {
  display: block;
  color: #333333;
  text-decoration: none;
  padding: 6px;
  font-size-adjust: 0.8em;
  cursor: pointer;
}
.search-result:hover {
  background: #eeeeee;
}
.search-result:not(:last-of-type) {
  border-bottom: 1px solid #eeeeee;
}
.search-title {
  font-size: 1.1em;
  font-weight: bold;
}
.search-details {
  line-height: 1.5;
  margin: 8px 0;
}
.search-icon {
  font-size: 16px !important;
  padding: 0.3em !important;
}
.container {
  background: #fff;
  margin-top: 1em;
  padding: 0;
  border: 2px solid #212121;
  border-radius: 8px;
}
.container h1 {
  background: #008037;
  margin: 0 auto;
  padding: 0.5em;
  color: #fff;
  font-family: "Rowdies", cursive;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-shadow: 2px 4px #ff5400;
}
.container h2 {
  font-family: "Rowdies", cursive;
  color: #008037;
  margin: 0 auto;
  padding: 0.3em;
}
.container p {
  padding: 0.7em;
}
a {
  color: #ff5400;
}
a:hover {
  text-decoration: none;
  color: #212121;
}
#call-to-action {
  background: #008037;
  width: 100%;
  margin: 0 auto;
  padding: 0.5em;
  color: #fff;
  font-family: "Rowdies", cursive;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
#call-to-action a {
  color: #212121;
}
#call-to-action a:hover {
  text-decoration: none;
  color: #fff;
}
footer {
  margin: 4em;
  text-align: center;
}
footer a {
  color: #212121;
}
footer a:hover {
  text-decoration: none;
  color: #008037;
}
