body {
  background: #f8f9fa;
  max-width: 2560px;
  font-family: "Lato", sans-serif;
}
#logo {
  max-width: 150px;
  max-height: 150px;
}
#search-icon {
  font-size: 16px !important;
  padding: 0.3em !important;
}
.container {
  background: #fff;
  margin-top: 1em;
  padding: 0;
  border: 2px solid #212121;
  border-radius: 8px;
}
@media (max-width: 576px) and (max-width: 767.98px) {
  .container {
    background: #f8f9fa;
    margin-top: 1em;
    padding: 0;
    border: none;
    border-radius: unset !important;
  }
  .container h1 {
    border-radius: unset !important;
  }
  #call-to-action {
    border-radius: unset !important;
  }
}
.container h1 {
  background: #008037;
  margin: 0 auto;
  padding: 0.5em;
  color: #fff;
  font-family: "Rowdies", cursive;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-shadow: 2px 4px #ff5400;
}
.container h2 {
  font-family: "Rowdies", cursive;
  color: #008037;
  margin: 0 auto;
  padding: 0.3em;
}
.container img {
  display: flex;
  max-width: 300px;
  margin: 1em;
  border-radius: 8px;
}
.container p {
  padding: 0.7em;
}
a {
  color: #ff5400;
}
a:hover {
  text-decoration: none;
  color: #212121;
}
#call-to-action {
  background: #008037;
  width: 100%;
  margin: 0 auto;
  padding: 0.5em;
  color: #fff;
  font-family: "Rowdies", cursive;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
#call-to-action a {
  color: #212121;
}
#call-to-action a:hover {
  text-decoration: none;
  color: #fff;
}
footer {
  margin: 4em;
  text-align: center;
}
footer a {
  color: #212121;
}
footer a:hover {
  text-decoration: none;
  color: #008037;
}
