body {
  background: #f8f9fa;
  max-width: 2560px;
  font-family: "Lato", sans-serif;
}
#logo {
  max-width: 150px;
  max-height: 150px;
}
#search-icon {
  font-size: 16px !important;
  padding: 0.3em !important;
}
.container {
  margin-top: 1em;
  border: 2px solid #212121;
  border-radius: 8px;
  padding: 0;
  background: #fff;
  max-width: 50em;
}
.container h1 {
  background: #008037;
  margin: 0 auto;
  padding: 0.5em;
  color: #fff;
  font-family: "Rowdies", cursive;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-shadow: 2px 4px #ff5400;
}
.container h2 {
  font-family: "Rowdies", cursive;
  color: #008037;
  margin: 0 auto;
  padding: 0.3em;
}
.container h3 {
  font-family: "Rowdies", cursive;
  color: #ff5400;
  margin: 0 auto;
  padding: 0.3em;
}
.container p {
  padding: 0.7em;
}
form {
  padding: 0.7em;
}
form label {
  font-weight: 800;
}
a {
  color: #ff5400;
}
a:hover {
  text-decoration: none;
  color: #212121;
}
#form-button {
  background: #ff5400 !important;
  border: 1px solid #212121;
  box-shadow: 5px 5px 5px grey;
}
#form-button:hover {
  background: #008037 !important;
  border: 1px solid #212121;
  box-shadow: 5px 5px 5px grey;
  transition: 0.3s;
}
@media (max-width: 576px) and (max-width: 767.98px) {
  .container {
    background: #fff;
    margin-top: 1em;
    padding: 0;
    border: none;
    border-radius: unset !important;
  }
  .container h1 {
    border-radius: unset !important;
  }
}
