body {
  background: #f8f9fa;
  max-width: 2560px;
  font-family: "Lato", sans-serif;
}
#logo {
  max-width: 150px;
  max-height: 150px;
}
#search-icon {
  font-size: 16px !important;
  padding: 0.3em !important;
}
.container {
  background: #f8f9fa;
  margin-top: 1em;
  padding: 3em;
  border: 2px solid #212121;
  border-radius: 8px;
}
.carousel-inner {
  max-height: 400px;
  border-radius: 8px;
}
#carousel-img {
  max-height: 400px;
  border-radius: 8px;
  object-fit: cover;
}
.carousel-caption {
  top: 10%;
  bottom: auto;
  border-radius: 8px;
  background: #008037;
  font-family: "Rowdies", cursive;
  text-align: center;
  color: #fff;
  opacity: 80%;
  padding: 0;
}
@media (min-width: 320px) and (max-width: 767.98px) {
  .container {
    border: none;
  }
  #carousel-img {
    height: 16em;
    border-radius: 8px;
    object-fit: cover;
  }
  .carousel-caption {
    top: 10%;
    border-radius: 8px;
    background: #008037;
    font-family: "Rowdies", cursive;
    text-align: center;
    color: #fff;
    opacity: 80%;
    padding: 0;
  }
  .carousel-caption h1 {
    text-align: center;
    vertical-align: middle;
  }
  #map {
    width: 14em;
    border: none;
  }
}
a {
  color: #212121;
}
a:hover {
  text-decoration: none;
  color: #fff;
}
.card {
  border-radius: 8px;
  text-align: center;
  background: #008037;
  box-shadow: 10px 10px 10px grey;
  margin: 1em;
  padding: 1em;
  color: #fff;
}
h2 {
  font-family: "Rowdies", cursive;
  text-align: center;
  padding: 0.5em;
}
#store-info {
  text-align: left;
}
.reviews {
  margin: 1em;
  padding: 0.7em;
  border: 1px solid #212121;
  border-radius: 8px;
  box-shadow: 10px 10px 10px grey;
}
.reviews p {
  padding: 0.7em;
  padding-bottom: 0;
}
.reviews #stars {
  max-width: 100px;
  border-radius: 2px;
}
.reviews a {
  color: #212121;
}
.reviews a:hover {
  transition: 0.3s;
  color: #ff5400;
}
#yelp-review img {
  border-radius: 8px;
  max-width: 50px;
  margin: 0 auto;
  padding-right: 0.3em;
}

#google-review img {
  border-radius: 50%;
  max-width: 50px;
  margin: 0 auto;
  padding-right: 0.3em;
}

#google-review #logo {
  max-width: 30px;
  padding: 0;
  margin: 0 auto;
}
#contact-map-container {
  background: #008037;
  width: 100%;
  margin: 0 auto;
  padding: 0.5em;
  color: #fff;
  border-radius: 8px;
  font-size: 20px;
  box-shadow: 10px 10px 10px grey;
}
.contact {
  text-align: center;
}
.fas {
  font-size: 20px;
  padding: 0.5em;
}
.map {
  padding: 0.5em;
}
#map {
  display: block;
  margin: 0 auto;
  border-radius: 8px;
  text-align: center;
}
#contact-map-container a {
  color: #fff;
}
#contact-map-container a:hover {
  transition: 0.3s;
  text-decoration: none;
  color: #212121;
}
